<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="there.isnt.a.vibrate.feature"
        android:required="false" />

    <application
        android:name=".utils.App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo_new"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo_new"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCPEncroachmentHaryana"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".point_forward_flow.ForwardPointFormScreen"
            android:exported="false" />
        <activity
            android:name=".point_forward_flow.DTPForwardedPointScreen"
            android:exported="false" />
        <activity
            android:name=".screens.SimpleImageScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.AdminReportSectionScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.VerifiedPointOfflineScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.OfflineRecordScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.SurveyReportScreen"
            android:exported="false"
            android:parentActivityName=".adminRole.AdminDashboardScreen" />
        <activity
            android:name=".screens.HCDISLoginScreen"
            android:exported="false" />
        <activity
            android:name=".CitizenModule.ForgotPinScreen"
            android:exported="false" />
        <activity
            android:name=".CitizenModule.ChangePinScreen"
            android:exported="false" />
        <activity
            android:name=".CitizenModule.CitizenLoginScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CitizenModule.RegistrationScreen"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".point_forward_flow.AdminReadyToDemolishScreen"
            android:exported="false">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.MapChangeBoundaryScreen"
            android:exported="false">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.MapPointSelectionScreen"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.VideoScreen"
            android:exported="false">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.AdminSurveyHistoryScreen"
            android:exported="false"
            android:parentActivityName=".adminRole.AdminVerifiedRecordScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.PointOnMapScreen"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.AdminNewPointScreen"
            android:exported="false"
            android:parentActivityName=".adminRole.AdminDashboardScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.MapViewScreen"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.WebViewForImage"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.AdminAllRecordAccordingToDateScreen"
            android:exported="false"
            android:parentActivityName=".adminRole.AdminDashboardScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.AdminAllUsersScreen"
            android:exported="false"
            android:parentActivityName=".adminRole.AdminDashboardScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.AdminAllRecordScreen"
            android:exported="false"
            android:parentActivityName=".adminRole.AdminDashboardScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.AdminUnVerifiedRecordScreen"
            android:exported="false"
            android:parentActivityName=".adminRole.AdminDashboardScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.AdminVerifiedRecordScreen"
            android:exported="false"
            android:parentActivityName=".adminRole.AdminDashboardScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminRole.AdminDashboardScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.SurveyFormScreen"
            android:exported="true"
            android:parentActivityName=".screens.MapScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.SurveyDashboardScreen"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.DemoMapScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.MapScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.ChooseAreaScreen"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.OtpScreen"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.LoginScreen"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.com.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".firebase.MyFirebaseNService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.harcdis.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>